*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.btn{
padding: 10px 25px;
}
.btn_black{
background-color: black;
color: white;
}
.btn_void{
border: 1px solid black;
color: black;
background-color: transparent;
}

.float_left{
	float: left;
}
.float_right{
	float: right;
}

.no_style{
	list-style-type: none;
}
.center{
	text-align: center;
}

.w_70{
	margin: 0 auto;
	width: 70%;
}