#learn_things{
	padding: 40px 0;
	h2{
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 20px;
	}
	.cards{
		display: flex;
		justify-content: space-between;
		.card{
			margin: 0 10px;
			background-color: white;
			img{
				width: 100%;
			}
			.text{
				margin: 20px;
				h3{
					font-size: 15px;
					margin-bottom: 20px;
					.new{
						font-size: 17px;

						color: $color_lightblue;
						text-transform: uppercase;
						font-style: italic;
						display: inline-block;
						margin-right: 5px;
					}
				}
				.learn_more{
					color: $color_lightblue;
					margin-top: 20px;

				}				
			}
		}
	}
}